
# MUST be specified in wrapper script
#startup --nosystem_rc
#startup --nohome_rc
#startup --output_base <...>

# -- Base Flags

build --incompatible_enable_cc_toolchain_resolution
build --incompatible_java_common_parameters 
build --color=auto
build --strip=never
build --features=pic
build --features=c++17

# -- Remote...
build --remote_local_fallback   # Fallback to a local build if remote fails

# -- Compiler
# The vendor can be auto-selected or manually specified
# build         --repo_env=compiler-vendor=ubuntu-jammy
build:gcc     --repo_env=compiler=host
build:llvm    --repo_env=compiler=llvm-16.0.6
build:clang   --config=llvm
build:gcc9    --repo_env=compiler=gcc-9.5.0
build:gcc10   --repo_env=compiler=gcc-10.5.0
build:gcc11   --repo_env=compiler=gcc-11.4.0
build:gcc12   --repo_env=compiler=gcc-12.3.0
build:gcc13   --repo_env=compiler=gcc-13.2.0
build:llvm12  --repo_env=compiler=llvm-12.0.1
build:llvm13  --repo_env=compiler=llvm-13.0.1
build:llvm14  --repo_env=compiler=llvm-14.0.6
build:llvm15  --repo_env=compiler=llvm-15.0.7
build:llvm16  --repo_env=compiler=llvm-16.0.6

# -- Actions
build:format_check --config=llvm

build:format_fix --config=llvm
build:format_fix --spawn_strategy=standalone

# -- stdcxx

build:stdcxx --features=stdcxx
build:libcxx --features=libcxx

# -- Lto

build:lto --features=lto

# -- Configurations 

build:profile --features=benchmark
build:benchmark --features=benchmark
build:debug --compilation_mode=dbg
build:release --compilation_mode=opt

build:asan --features=asan
build:asan --test_env="ASAN_OPTIONS=suppressions=example/config/suppressions/asan.supp:color=always:detect_leaks=1"
build:asan --test_env="LSAN_OPTIONS=suppressions=example/config/suppressions/lsan.supp:verbosity=1:log_threads=1:color=always"

build:ubsan --config=usan
build:usan --features=usan
build:usan --test_env="UBSAN_OPTIONS=suppressions=example/config/suppressions/usan.supp:print_stacktrace=1:color=always"

build:tsan --features=tsan
build:tsan --test_env="TSAN_OPTIONS=suppressions=example/config/suppressions/tsan.supp:print_stacktrace=1:color=always:second_deadlock_stack=1"

# -- Compilation Database

build:compdb --config=llvm
build:compdb --compilation_mode=fastbuild

# -- Static Analysis

build:static_analysis --config=llvm
build:static_analysis --compilation_mode=fastbuild
